body {
    overflow-x: hidden; 
    overflow-y: hidden; 
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;

}
.container {
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
}
.retangulo {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    margin: 00px 0;
vertical-align: top;
}
.senha {
    font-size: 8rem;
font-weight: bold;
    margin: 0;
}
.guiche {
    font-size: 8rem;
font-weight: bold;
    margin: 0;
}
.ultimos-chamados ul {
    list-style: none;
    padding: 0;
}
.ultimos-chamados li {
    font-size: 2.5rem;
}


.button-80 {
    justify-content: center;
    align-items: center;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .375rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 50;
  letter-spacing: -.01rem;
  line-height: 1;
  padding: .4rem .4rem;
  position: center;
  text-align: left;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
webkit-outer-spin-button: none;


}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: 0;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

.button-80:select {
  font-size: 1.3rem;
  font-weight: normal;
  max-width: 50%;
  padding: 0px 12px 8px 10px;
  border: none;
  border-style: solid;
  border-width: .3rem;
  background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
  appearance: none;

}
.button-80:select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}

.option1 .select .option {
  text-align: center;
}
  select {
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 1px;
      text-overflow: '';
    }
